{# accesoRestringido.html.twig #}
{% extends 'base.html.twig' %}
{% block head %}

    {% block title %}Acceso Restringido{% endblock %}

{% endblock %}

{% block body %}

    <main>
        Acceso Restringido
    </main>

{% endblock %}