{# paginaNoEncontrada.html.twig #}
{% extends 'base.html.twig' %}
{% block head %}

    {% block title %}Página No Encontrada{% endblock %}

{% endblock %}

{% block body %}

    <main>
        Pagina No Encontrada
    </main>

{% endblock %}